# Core Framework
Django
djangorestframework

# Authentication & CORS
djangorestframework-simplejwt
django-cors-headers

# Image Handling (for models.ImageField)
Pillow

# Server & Environment Utilities
gunicorn
python-dotenv